:root{
	--mainColor:#1D1C24;
	--gradientColor: #EC031C;
	--secondaryColor: #292733;
	--borderColor:#164D56;
	--mainText:#fff;
	--secondaryText:#eeeeee;
	--themeDotBorder:#FFF;
	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;
	--buttonColor:#7C1121;
}

html, body {
    background-color: var(--mainColor);
    background: linear-gradient(90deg, var(--mainColor) 0%, var(--gradientColor) 100%);
    padding: 0px;
    padding: 50px 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
body *{
    transition: 0.3s;
}
h1,h2,h3,h4,h5,h6,strong {
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    color: var(--mainText);
    font-family: 'Source Code Pro';
}
a {
    text-decoration: none;
    color: #17a2b8;
    font-family: 'Roboto', monospace;
}

p, small, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: "PT Mono", Sans-serif;
}
h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.s1 {
	background-color: var(--mainColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.s2 {
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.container {
    margin: 0 auto;
    width: 1300px;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    
}
*.container {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}
.intro-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3em 35em;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'intro-rightColumn intro-leftColumn '
    ;
}
li a { 
    font-size: 20px; 

}
.nav-wrapper {
    border-radius: 5px 5px 0 0;
    background-color: var(--mainColor);
    display: flex;
    border-bottom: 1px solid var(--borderColor);
    grid-area: nav-wrapper;
    justify-content: space-between;
    align-items: center;
}
.dots-wrapper{
    display: flex;
    padding: 10px;
}
.dot {
    margin: 3px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}
#dot-1 {
    background-color: #EE6168;
}
#dot-2 {
    background-color: #DEC25A;
}
#dot-3 {
    background-color: #269e48;
}
.navigation {
    margin: 0;
    padding: 10px;
}
.navigation li {
    display: inline-block;
    margin: 0px 5px;
}
.intro-leftColumn {
    display: flex;
    grid-area: intro-leftColumn;
    align-items: center;
    justify-content: center;
    padding-right: 50px
    
}
#profilePic {
    display: block;
	margin:0 auto;
	height: 230px;
    width: 230px;
    border-radius: 50%;
    -webkit-box-shadow: 4px 11px 20px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 11px 20px -2px rgba(0,0,0,0.75);
    box-shadow: 4px 11px 20px -2px rgba(0,0,0,0.75);
	object-fit: cover;
}
#preview-shadow{
    display: flex;
	background-color: var(--previewShadow);
	max-width: 300px;
	height: 250px;
	padding: 30px;
}

#preview{
	width: 100%;
	border:1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding: 35px;
	position: relative;
}

.corner{
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl{
	top:-5px;
	left: -5px
}

#corner-tr{
	top:-5px;
	right: -5px
}


#corner-br{
	bottom:-5px;
	right: -5px
}


#corner-bl{
	bottom:-5px;
	left: -5px
}
.tittle {
    margin: 0;
}
.intro-rightColumn  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: intro-rightColumn;
    align-content: flex-end;
    padding: 60px;
}
#theme-options-wrapper{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#theme-dots-wrapper {
    display: flex;
}
small {
    text-align: center;
}
.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;
	margin: 5px;
	border:2px solid var(--themeDotBorder);
	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 0.3s;
}

.theme-dot:hover{
	border-width: 5px;
}
small, h4 {
    margin: 10px;
}


#light-mode{
	background-color: #fff;
}

#blue-mode{
	background-color: #192734;
}

#green-mode{
	background-color: #78866b;
}

#purple-mode{
	background-color: #7E4C74;
}
.about {
    margin: 150px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.skills {
    display: grid;
}
.skills-leftColumn {
    grid-area: skills-leftColumn;
}
.skills-rightColumn {
    grid-area: skills-rightColumn;
}
#skills-list {
    display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

.skills-rightColumn {
    text-align: center;
}
.footer {
    border-radius: 0px 0px 5px 5px;
    background-color: var(--mainColor);
    display: flex;
    border-top: 1px solid var(--borderColor);
    justify-content: space-evenly;
    align-items: center;
}
.links > a {
    padding: 10px;
}
.btn {
    transition: transform 0.5s;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
}
.btn:hover {
    transform: scale(0.95);
}
.btn > a {
    color: #fff;
    font-size: large;
}
a:hover {
    color: var(--secondaryText);
}
.project {
    text-align: center;
}

.project-image {
    border-radius: 5px 5px 0px 0px;
    border: 1px solid var(--borderColor);
    margin: 20px 0px;

}
.project-image > img {
    max-width:100%;
    max-height:100%;
}
.project-description {
    text-align: center;
    margin: 30px 0px 50px 0px;
}
.tag{
	display:inline-block;
	color:#fff;
	background-color: #888;
	margin: 2px;
	padding: 2px 5px;
    font-size: 12px;

}
.view {
    margin: 10px;
}

@media screen and (max-width: 800px){
	.intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 3em 25em;
		grid-template-areas: 
			'nav-wrapper'
			'intro-leftColumn'
			'intro-rightColumn'
		;
    }
    h2 { font-size: 36px;}

    #profilePic {
        height: 180px;
        width: 180px;
    }

	.intro-rightColumn{
        justify-content: center;
        max-width: 100%;
	}

}
@media screen and (max-width: 1300px){
    .container {
        width: 95%;
    }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
