{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dominik Bąk</title>
    <link rel="icon" 
      type="image/png" 
      href="{% static 'images/Dominik.png'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
    <link id='theme-style' rel="stylesheet" type='text/css' href='"{% static 'css/green.css'%}"'>
</head>
<body>
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>

    <script type='text/javascript'>
        let static = '{% static 'css/' %}'
    </script>
    <script type='text/javascript' src='{% static 'js/script.js' %}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.0/paper-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js"></script>
</body>
</html>