<div class="footer">
        <p>&copy; Dominik Bąk 2020</p>
        <div class="links">
            <a aria-label="Facebook" rel="noopener" target="_blank" href="https://www.facebook.com/dominikbak93/" class="fa fa-facebook"></a>
            <a aria-label="LinkedIn" rel="noopener" target="_blank" href="https://www.linkedin.com/in/dominik-b%C4%85k-6332a31a0/" class="fa fa-linkedin"></a>
            <a aria-label="Github" rel="noopener" target="_blank" href="https://github.com/bakdominik" class="fa fa-github"></a>
        </div>
        
    </div>