{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <div class="intro-wrapper">
        {% include 'base/navbar.html' %}

        <div class="intro-leftColumn">
            
            <div id="preview-shadow">
                <div id="preview">
                    <div id="corner-tl" class="corner"></div>
                    <div id="corner-tr" class="corner"></div>
                    <img id='profilePic'src="{% static 'images/Dominik.png'%}" alt="">
                    <div id="corner-br" class="corner"></div>
                    <div id="corner-bl" class="corner"></div>
                </div>
            </div>
        </div>
        <div class="intro-rightColumn">
            <h2 class="tittle">HELLO, MY NAME IS DOMINIK</h2>
            <h3 class="subtittle">I am Developer living in Cracow</h3>
            <a href="mailto:dominikbak93@gmail.com" class="btn">Hire me!</a>
        </div>
        
    </div>
    <div id="theme-options-wrapper">
        <h3>Perosnalize my website</h3>
        <div id="theme-dots-wrapper">
            <div data-mode="style" id="light-mode" class="theme-dot"></div>
            <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
            <div data-mode="green" id="green-mode" class="theme-dot"></div>
            <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
        </div>
        <small id="settings-note">*Theme settings will be saved for<br>your next vist</small>
    </div>
    <div class="about">
        <h2>About</h2>
        <p>I am a self-taught developer and student of applied informatics. I've always
found coding fascinating. I am always looking for development and push
myself to learn the most effective ways to achieve a result.
In my spare time, I focus on
contacts with people - meetings
with family and friends. I love
cycling and everything related to
it. Sunday coffee ride is a thing
that gives me energy to work.
</p>
    </div>
    <div class="about skills">
        
        <div class="skills-lefColumn">
            <h2 style='margin-bottom: 15px'>Skills</h2>
            <div id="skills-list">
                <ul>
                    <li>Python</li>
                    <li>Django</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>WordPress</li>
                </ul>

                <ul>
                    <li>HTML/CSS</li>
                    <li>Bootstrap</li>
                    <li>Material UI</li>
                    <li>Heroku</li>
                    <li>Google Firebase</li>
                </ul>

            </div>
            <a target="_blank" href='{% static "resume.7b244729c5e1.pdf" %}' style='font-size:large;margin-top: 20px'><b>Download my resume</b></a>
        </div>
        
    </div>
    <div class="about">
        <button class='btn'><a href='{% url 'projects'%}'>Checkout my projects</a></button>
    </div>
    {% include 'base/footer.html' %}

{% endblock content %}
